<div id='old-browser-dialog' class='dialog'>
    <p>
        <span class="ui-icon ui-icon-circle-close" style="float:left; margin:0 7px 50px 0;"></span>
        Your browser is too old and need to be updated.
    </p>
    <p>
        You will be redirected to Chrome download page.
    </p>
</div>
        
<div id='saving-dialog' class='dialog'>
    <p>
    Your work is being saved. Please wait...
    </p>
</div>

<div id='finished-dialog' class='dialog'>
    <p>
        Your video is being created now and the download will start automatically when it get ready.
    </p>
    <p>
        Therefore, please <strong>DON'T</strong> close the browser window, or will work will be lost.
    </p>
</div>