<!DOCTYPE html>
<html>
    <head>
        <title>CSM - Cloud Stop Motion</title>
        <meta charset='utf-8'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link type="text/css" href="js/jquery-ui/css/jquery-ui.css" rel="Stylesheet" /> 
        <link type="text/css" href="js/jquery-ui/css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="Stylesheet" /> 
        <link type="text/css" href="css/reset.css" rel="Stylesheet" />  
        <link type="text/css" href="css/style.css" rel="Stylesheet" />  
        <script type="text/javascript" src="js/jquery-ui/js/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui/js/jquery-ui-1.8.23.custom.min.js"></script>
        <script type="text/javascript" src="js/underscore.js"></script>
        <script type="text/javascript" src="js/backbone.js"></script>
        <script type="text/javascript" src="/js/coffee/ui.js"></script>
        <script type="text/javascript" src="/js/coffee/uploader.js"></script>
    </head>
    
    <body>
        <ul id="main-window">
            <li class="ui-state-default toolbar">
                <div id="toolbar-view" class="ui-widget-content view">
                    <h1>Cloud Stop Motion</h1>
                    <ul>
                        <li><button id='save'>Save</button></li>
                        <li><button id='finished'>Finished</button></li>
                        <li><button id='shot'>Take a Pic</button></li>
                    </ul>
                </div>
            </li>
            <li class="ui-state-default">
                <div id="camera-view" class="ui-widget-content view">
                    <h3 class="ui-widget-header">Camera</h3>
                    <video autoplay></video>
                    <canvas style="display:none;" width='640' height='480'></canvas>
                </div>
            </li>
            <li class="ui-state-default">
                <div id="last-frame-view" class="ui-widget-content view">
                    <h3 class="ui-widget-header">Last Frame View</h3>
                    <img id="frame" alt="" src=""/>
                </div>
            </li>
            <li class="ui-state-default toolbar">
                <div id="framebar-view" class="ui-widget-content view">
                    <ul>
                    </ul>
                </div>
            </li>
        </ul>
        
        <%= erb :dialogs %>
    </body>
    
</html>
