body {
  overflow: hidden;
  overflow-x: scroll; }

h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif; }

.autohide {
  opacity: 0;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s; }
  .autohide:hover {
    opacity: 1; }

/* Dialog */
.dialog {
  display: none; }
  .dialog p {
    margin: 10px 6px 13px;
    font-size: 12px; }

div.ui-dialog div.ui-dialog-buttonpane div.ui-dialog-buttonset button.ui-button span.ui-button-text {
  font-size: 11px; }

div.main-container {
  width: 400%; }

/* Grid */
#main-window > li, div.main-container > li {
  display: inline-block;
  min-width: 10%s;
  vertical-align: top; }
  #main-window > li.toolbar, div.main-container > li.toolbar {
    width: 100%;
    min-height: 50px;
    display: block; }
    #main-window > li.toolbar:first-of-type, div.main-container > li.toolbar:first-of-type {
      position: static !important;
      margin-bottom: 30px; }
    #main-window > li.toolbar:last-of-type, div.main-container > li.toolbar:last-of-type {
      position: absolute;
      bottom: 0; }
  #main-window > li:not(.toolbar), div.main-container > li:not(.toolbar) {
    margin: 5px 5px 5px 10px; }

.view {
  display: inline-block;
  height: 100%;
  padding: 5px;
  display: block; }
  .view h3 {
    margin-bottom: 5px;
    cursor: move; }
    .view h3:hover {
      opacity: 0.7; }

/* Specific views */
#toolbar-view {
  position: fixed;
  height: 50px;
  width: 100%;
  padding-left: 5px;
  top: 0; }
  #toolbar-view h1 {
    position: absolute;
    top: 22px;
    left: 12px;
    font-size: 22px; }
  #toolbar-view > ul {
    float: right;
    margin: 5px 15px; }
    #toolbar-view > ul li {
      display: inline-block; }
  #toolbar-view button {
    height: 42px; }
    #toolbar-view button.icon-only {
      position: relative;
      top: 5px; }
      #toolbar-view button.icon-only > span {
        padding-bottom: 8px; }

#last-frame-view img {
  width: 640px;
  height: 480px; }

#framebar-view {
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  width: -webkit-calc(100% - 15px);
  margin-top: -50px; }
  #framebar-view ul {
    height: 100px; }
    #framebar-view ul li {
      display: inline-block;
      margin: 5px;
      max-height: 130px; }
      #framebar-view ul li img {
        height: 80px;
        width: 120px;
        cursor: move; }
        #framebar-view ul li img:hover {
          opacity: 0.7; }
