body {
  overflow: hidden; }

h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif; }

/* Grid */
#main-window > li {
  display: inline-block;
  width: 45%;
  vertical-align: top; }
  #main-window > li.toolbar {
    width: 100%;
    min-height: 50px;
    display: block; }
    #main-window > li.toolbar:first-of-type {
      position: static !important;
      margin-bottom: 30px; }
    #main-window > li.toolbar:last-of-type {
      position: absolute;
      bottom: 0; }
  #main-window > li:not(.toolbar) {
    margin: 5px 5px 5px 10px; }

.view {
  display: inline-block;
  height: 100%;
  padding: 5px;
  display: block; }
  .view h3 {
    margin-bottom: 5px;
    cursor: move; }
    .view h3:hover {
      opacity: 0.7; }

/* Specific views */
#toolbar-view {
  height: 50px; }
  #toolbar-view > ul {
    float: right;
    margin: 5px 8px; }
    #toolbar-view > ul li {
      display: inline-block; }

#last-frame-view img {
  height: 240px;
  width: 320px; }

#framebar-view {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 160px;
  opacity: 0.85; }
  #framebar-view li {
    display: inline-block;
    margin: 5px;
    max-height: 170px; }
    #framebar-view li img {
      height: 120px;
      width: 160px;
      cursor: move; }
      #framebar-view li img:hover {
        opacity: 0.7; }
